---
const sm = "2";
const lg = "4";
const { class: className, ...rest } = Astro.props;
---

<span class=`${className} relative flex h-${lg} w-${lg} sm:h-${sm} sm:w-${sm}`>
  <span
    class="animate-ping absolute inline-flex h-full w-full rounded-[3px] dark:bg-mGreen bg-mOrange opacity-75"
  ></span>
  <span
    class=`relative inline-flex rounded-[3px] h-${lg} w-${lg} sm:h-${sm} sm:w-${sm} dark:bg-mGreen bg-mOrange`
  ></span>
</span>
